:root {
	--c1: #2b506d;
	--c2: #66849c;
	--c3: #4c6c86;
	--c4: #ffffff;
	--c5: #4284b9;
}

body {
	margin: 0px;
	text-align: center;
	background-color: var(--c1);
}

header {
	padding: 50px;
	color: var(--c4);
}

h1 {
	margin: 0px;
}

button {
	width: 100px;
	height: 25px;
	margin: 0px 10px 0px 10px;
	border: none;
	outline: none;
	color: var(--c4);
	background-color: var(--c3);
	cursor: pointer;
}

.selectedButton {
	background-color: var(--c2);
}

section {
	padding: 1px;
	color: var(--c1);
	background-color: var(--c2);
}

select {
	width: 400px;
	height: 25px;
	margin: 20px auto 0px auto;
	border: none;
	outline: none;
	color: var(--c1);
	background-color: var(--c4);
	cursor: pointer;
}

.visualization {
	width: 900px;
	margin: 20px auto 20px auto;
	padding: 40px;
	background-color: var(--c4);
}

h2 {
	margin: 0px auto 40px auto;
}

footer {
	padding: 10px;
	color: var(--c4);
}
